:root {
    --color-main: rgba(23, 190, 121, 1);
    --color-additional: rgba(233, 237, 243, 1);

    --color-black: rgba(39, 43, 55, 1);
    --color-white: rgba(255, 255, 255, 1);

    --radius-20: 20px;
    --radius-30: 30px;
    --radius-100: 100px;

    --section-padding: 20px;

    --vw: 1920;
    --multiplier: 100vw;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Gilroy;
    font-size: calc(18 / var(--vw) * var(--multiplier));

    color: var(--color-black);
    background-color: var(--color-white);
}
a {
    text-decoration: none;
}
.container {
    padding-inline: var(--section-padding);
    margin-inline: auto;
}
.header {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: var(--section-padding);
    }

    &__logo {
        &-img {
            width: calc(305 / var(--vw) * var(--multiplier));
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        padding: calc(16 / var(--vw) * var(--multiplier)) calc(17 / var(--vw) * var(--multiplier))
            calc(13 / var(--vw) * var(--multiplier));

        border-radius: var(--radius-100);
        background-color: var(--color-additional);
        &-link {
            font-weight: 400;
            font-size: calc(18 / var(--vw) * var(--multiplier));
            line-height: 100%;

            padding: calc(15.5 / var(--vw) * var(--multiplier)) calc(21.5 / var(--vw) * var(--multiplier));

            color: var(--color-black);
            border-radius: var(--radius-100);

            &.active {
                color: var(--color-white);
                background-color: var(--color-main);
            }
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        column-gap: 10px;
        &-link {
            width: calc(54 / var(--vw) * var(--multiplier));
            height: calc(54 / var(--vw) * var(--multiplier));
            border-radius: 50%;

            background-color: var(--color-main);
        }
    }
}

.hero {
    &-grid {
        display: grid;
        gap: 10px;
        padding: 40px;
        border-radius: var(--radius-30);
        background-color: var(--color-additional);
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(260px, auto));
        grid-template-rows: 463px 463px;
        grid-template-areas:
            "main    main    offers  offers"
            "security social articles storage";

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-template-rows: auto;
            grid-template-areas:
                "main    main"
                "offers  offers"
                "security social"
                "articles storage";
        }
        @media (max-width: 640px) {
            grid-template-columns: minmax(0, 1fr);
            grid-template-areas:
                "main"
                "offers"
                "security"
                "social"
                "articles"
                "storage";
        }

        &__card {
            border-radius: var(--radius-30);
            background-color: var(--color-white);
            &--main {
                grid-area: main;
                & .hero-main {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 30px;
                    &__text {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        flex-wrap: wrap;
                    }
                    &__title {
                        flex: 1;
                        font-weight: 400;
                        font-size: 51px;
                        line-height: 100%;
                    }
                    &__button {
                        flex: 0 0 auto;
                        font-weight: 400;
                        font-size: 21px;
                        line-height: 100%;
                        letter-spacing: -0.02em;

                        flex: 0 0 auto;
                        display: inline-flex;
                        align-items: center;
                        padding: 12px 24px;
                        background-color: var(--color-accent-green);
                        color: #fff;
                        text-decoration: none;
                        border-radius: 24px;
                    }
                    &__subtitle {
                        font-weight: 400;
                        font-size: 31px;
                        line-height: 100%;
                        margin-top: 16px;
                    }
                    &__bottom {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    &__stats {
                        display: flex;
                        align-items: center;
                        column-gap: 60px;
                    }
                    &__stat {
                        & span {
                            display: block;
                        }
                        &-value {
                            font-weight: 600;
                            font-size: 50px;
                            line-height: 100%;
                        }
                        &-label {
                            font-weight: 400;
                            font-size: 25px;
                            line-height: 100%;
                        }
                    }
                    &__devices {
                        display: flex;
                        align-items: center;
                    }
                    &__device {
                        width: 71px;
                        height: 71px;
                        border-radius: 50%;
                        border: 2px solid var(--color-white);
                    }
                }
            }
            &--offers {
                grid-area: offers;

                & .offers-card {
                    height: 100%;
                    padding: 30px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url(../images/bg-offers.png);
                    &__list {
                        margin-top: auto;
                        display: grid;
                        gap: 10px;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: 107px 107px;
                    }
                    &__item {
                        display: flex;
                        align-items: center;
                        padding: 16px 20px;
                        column-gap: 10px;
                        border-radius: var(--radius-30);
                        background-color: var(--color-white);

                        & img {
                            aspect-ratio: 1/1;
                            height: 100%;
                            width: auto;
                        }
                        &-arrow {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        }
                        &-title {
                            font-weight: 400;
                            font-size: 21px;
                            line-height: 100%;
                            letter-spacing: -0.2em;
                        }
                    }
                }
            }
            &--security {
                grid-area: security;
            }
            &--social {
                grid-area: social;
            }
            &--articles {
                grid-area: articles;
            }
            &--universal {
                position: relative;
                width: 100%;
                height: 100%;
                & .universal-card {
                    width: 100%;
                    height: 100%;

                    --r: 20px;
                    --s: 30px;
                    --x: 13px;
                    --y: 13px;

                    overflow: hidden;
                    aspect-ratio: 1;
                    border-radius: var(--r);
                    --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000 72%);
                    --_g: conic-gradient(from 90deg at calc(100% - var(--r)) calc(100% - var(--r)), #0000 25%, #000 0);
                    --_d: (var(--s) + var(--r));
                    mask:
                        calc(100% - var(--_d) - var(--x)) 100% var(--_m),
                        100% calc(100% - var(--_d) - var(--y)) var(--_m),
                        radial-gradient(var(--s) at 100% 100%, #0000 99%, #000 calc(100% + 1px))
                            calc(-1 * var(--r) - var(--x)) calc(-1 * var(--r) - var(--y)),
                        var(--_g) calc(-1 * var(--_d) - var(--x)) 0,
                        var(--_g) 0 calc(-1 * var(--_d) - var(--y));
                    mask-repeat: no-repeat;
                    &-content {
                        position: absolute;
                        inset: 0;

                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        width: 100%;
                        height: 100%;
                        padding: 30px 30px 0px 30px;

                        background-size: cover;
                        background-repeat: no-repeat;
                        background-image: url(../images/bg-card.png);
                    }
                    &__image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &__title {
                        font-weight: 400;
                        font-size: 31px;
                        line-height: 100%;
                        color: var(--color-white);
                    }
                }
                & .btn-arrow {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: 1;
                }
            }
        }
    }
}
.btn-arrow {
    width: 54px;
    height: 54px;
    border-radius: var(--radius-20);
    background-color: var(--color-main);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.56758 1.05523e-06L15.8568 0C16.4882 6.59524e-07 17 0.511848 17 1.14324L17 11.4324C17 12.0638 16.4882 12.5757 15.8568 12.5757C15.2254 12.5757 14.7135 12.0638 14.7135 11.4324V3.90327L1.61679 17L0 15.3832L13.0967 2.28648H5.56758C4.93619 2.28648 4.42434 1.77464 4.42434 1.14324C4.42434 0.511847 4.93619 1.05523e-06 5.56758 1.05523e-06Z' fill='white'/%3e%3c/svg%3e ");
}
