:root {
    --color-main: rgba(23, 190, 121, 1);
    --color-additional: rgba(233, 237, 243, 1);

    --color-black: rgba(39, 43, 55, 1);
    --color-white: rgba(255, 255, 255, 1);

    --radius-20: 20px;
    --radius-30: 30px;
    --radius-100: 100px;

    --section-padding: 20px;
    @media (max-width: 767px) {
        --section-padding: 12px;
    }
    --vw: 1920;
    --multiplier: 100vw;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Gilroy;
    font-size: calc(18 / var(--vw) * var(--multiplier));

    color: var(--color-black);
    background-color: var(--color-white);
}
a {
    text-decoration: none;
}
.container {
    max-width: calc(1920px + var(--section-padding) * 2);
    padding-inline: var(--section-padding);
    margin-inline: auto;
}
.header {
    position: relative;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: var(--section-padding);
    }

    &__logo {
        &-img {
            width: 305px;
            @media (max-width: 1920px) {
                width: calc(305 / var(--vw) * var(--multiplier));
            }
            @media (max-width: 1024px) {
                width: 70%;
            }
            @media (max-width: 440px) {
                width: 90%;
            }
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        padding: 16px 17px 13px;

        border-radius: var(--radius-100);
        background-color: var(--color-additional);
        @media (max-width: 1920px) {
            padding: calc(16 / var(--vw) * var(--multiplier)) calc(17 / var(--vw) * var(--multiplier))
                calc(13 / var(--vw) * var(--multiplier));
        }
        @media (max-width: 1024px) {
            position: absolute;
            top: 100%;
            left: 50%;
            width: 100%;
            flex-direction: column;
            transform: translateX(-50%) translateY(-200%);
            z-index: 2;
            border: 1px solid var(--color-additional);
            border-top: none;
            border-radius: 0 0 var(--radius-20) var(--radius-20);

            background-color: var(--color-white);
        }

        &-link {
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;

            padding: 15.5px 21.5px;

            color: var(--color-black);
            border-radius: var(--radius-100);

            @media (max-width: 1920px) {
                font-size: calc(18 / var(--vw) * var(--multiplier));
                padding: calc(15.5 / var(--vw) * var(--multiplier)) calc(21.5 / var(--vw) * var(--multiplier));
            }
            @media (max-width: 1024px) {
                font-size: 14px;
                padding: 8.5px 13.5px;
            }
            &.active {
                color: var(--color-white);
                background-color: var(--color-main);
            }
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        column-gap: 10px;
        &-link {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 54px;
            height: 54px;
            border-radius: 50%;

            background-color: var(--color-main);
            @media (max-width: 1920px) {
                width: calc(54 / var(--vw) * var(--multiplier));
                height: calc(54 / var(--vw) * var(--multiplier));
            }
            @media (max-width: 1024px) {
                width: 34px;
                height: 34px;
            }
            & svg {
                width: 21px;
                height: 21px;
                @media (max-width: 1920px) {
                    width: calc(21 / var(--vw) * var(--multiplier));
                    height: calc(21 / var(--vw) * var(--multiplier));
                }
                @media (max-width: 1024px) {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
}

.hero {
    & .container {
        @media (max-width: 1054px) {
            padding-inline: 0;
        }
    }
    &-grid {
        position: relative;

        display: grid;
        gap: 10px;
        padding: 40px;
        border-radius: var(--radius-30) var(--radius-30) 0 var(--radius-30);
        background-color: var(--color-additional);
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(260px, auto));
        grid-template-rows: 463px 463px;
        grid-template-areas:
            "main    main    offers  offers"
            "security social articles storage";

        @media (max-width: 1920px) {
            grid-template-rows: calc(463 / var(--vw) * var(--multiplier)) calc(463 / var(--vw) * var(--multiplier));
            padding: calc(40 / var(--vw) * var(--multiplier));
            border-radius: calc(30 / var(--vw) * var(--multiplier)) calc(30 / var(--vw) * var(--multiplier)) 0
                calc(30 / var(--vw) * var(--multiplier));
        }
        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-template-rows: 350px 350px 350px 350px;
            grid-template-areas:
                "main    main"
                "offers  offers"
                "security social"
                "articles storage";
        }
        @media (max-width: 640px) {
            grid-template-columns: minmax(0, 1fr);
            grid-template-rows: 350px 350px 350px 350px 350px 350px;
            grid-template-areas:
                "main"
                "offers"
                "security"
                "social"
                "articles"
                "storage";
        }

        &__card {
            &--main {
                grid-area: main;
                & .hero-main {
                    height: 100%;
                    padding: 30px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    overflow: hidden;
                    border-radius: var(--radius-30);
                    background-color: var(--color-white);
                    @media (max-width: 1920px) {
                        padding: calc(30 / var(--vw) * var(--multiplier));
                        border-radius: calc(30 / var(--vw) * var(--multiplier));
                    }
                    @media (max-width: 1054px) {
                        padding: 12px;
                        border-radius: var(--radius-20);
                    }

                    &__title {
                        font-weight: 400;
                        font-size: 51px;
                        line-height: 100%;
                        @media (max-width: 1920px) {
                            font-size: calc(51 / var(--vw) * var(--multiplier));
                        }
                        @media (max-width: 1054px) {
                            font-size: 25px;
                        }
                    }
                    &__button {
                        display: inline-flex;
                        column-gap: 10px;
                        font-weight: 400;
                        font-size: 21px;
                        line-height: 100%;
                        text-decoration: none;

                        transform: translateY(-6px);

                        padding: 12px 14px;

                        color: #fff;
                        border-radius: 24px;
                        background-color: var(--color-main);
                        @media (max-width: 1920px) {
                            column-gap: calc(10 / var(--vw) * var(--multiplier));
                            font-size: calc(21 / var(--vw) * var(--multiplier));
                            padding: calc(12 / var(--vw) * var(--multiplier)) calc(14 / var(--vw) * var(--multiplier));
                            transform: translateY(calc(-6 / var(--vw) * var(--multiplier)));
                        }
                        @media (max-width: 1054px) {
                            column-gap: 10px;
                            font-size: 14px;
                            padding: 6px 11px;
                            transform: translateY(-1px);
                        }
                        @media (max-width: 767px) {
                            transform: translateY(1px);
                        }
                        & .arrow {
                            margin-top: 2px;
                            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.56758 1.05523e-06L15.8568 0C16.4882 6.59524e-07 17 0.511848 17 1.14324L17 11.4324C17 12.0638 16.4882 12.5757 15.8568 12.5757C15.2254 12.5757 14.7135 12.0638 14.7135 11.4324V3.90327L1.61679 17L0 15.3832L13.0967 2.28648H5.56758C4.93619 2.28648 4.42434 1.77464 4.42434 1.14324C4.42434 0.511847 4.93619 1.05523e-06 5.56758 1.05523e-06Z' fill='white'/%3e%3c/svg%3e ");
                            @media (max-width: 1920px) {
                                width: calc(17 / var(--vw) * var(--multiplier));
                                height: calc(17 / var(--vw) * var(--multiplier));
                                min-width: calc(17 / var(--vw) * var(--multiplier));
                                min-height: calc(17 / var(--vw) * var(--multiplier));
                            }
                            @media (max-width: 1054px) {
                                width: 12px;
                                height: 12px;
                                min-width: 12px;
                                min-height: 12px;
                            }
                        }
                    }
                    &__subtitle {
                        font-weight: 400;
                        font-size: 31px;
                        line-height: 100%;
                        @media (max-width: 1920px) {
                            font-size: calc(31 / var(--vw) * var(--multiplier));
                            margin-top: calc(16 / var(--vw) * var(--multiplier));
                        }
                        @media (max-width: 1054px) {
                            font-size: 18px;
                            margin-top: 16px;
                        }
                    }
                    &__bottom {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    &__stats {
                        display: flex;
                        align-items: center;
                        column-gap: 60px;
                        @media (max-width: 1920px) {
                            column-gap: calc(60 / var(--vw) * var(--multiplier));
                        }
                    }
                    &__stat {
                        & span {
                            display: block;
                        }
                        &-value {
                            font-weight: 600;
                            font-size: 50px;
                            line-height: 100%;
                            @media (max-width: 1920px) {
                                font-size: calc(50 / var(--vw) * var(--multiplier));
                            }
                            @media (max-width: 1054px) {
                                font-size: 30px;
                            }
                        }
                        &-label {
                            font-weight: 400;
                            font-size: 25px;
                            line-height: 100%;
                            @media (max-width: 1920px) {
                                font-size: calc(25 / var(--vw) * var(--multiplier));
                            }
                            @media (max-width: 1054px) {
                                font-size: 20px;
                            }
                        }
                    }
                    &__devices {
                        display: flex;
                        align-items: center;
                        @media (max-width: 558px) {
                            display: none;
                        }
                    }
                    &__device {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: -10px;
                        width: 71px;
                        height: 71px;
                        border-radius: 50%;
                        padding: 10px;
                        border: 2px solid var(--color-white);
                        background-color: var(--color-additional);
                        z-index: calc(100 - var(--i));
                        overflow: hidden;
                        @media (max-width: 1920px) {
                            margin-left: calc(-10 / var(--vw) * var(--multiplier));
                            width: calc(71 / var(--vw) * var(--multiplier));
                            height: calc(71 / var(--vw) * var(--multiplier));
                            padding: calc(10 / var(--vw) * var(--multiplier));
                        }
                        @media (max-width: 1022px) {
                            margin-left: -10px;
                            width: 54px;
                            height: 54px;
                            padding: 10px;
                        }
                        &:first-child {
                            margin-left: 0px;
                        }
                    }
                }
            }
            &--offers {
                grid-area: offers;

                & .offers-card {
                    height: 100%;
                    padding: 30px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    overflow: hidden;
                    border-radius: var(--radius-30);

                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url(../images/bg-offers.png);

                    @media (max-width: 1920px) {
                        border-radius: calc(30 / var(--vw) * var(--multiplier));
                        padding: calc(30 / var(--vw) * var(--multiplier));
                    }
                    @media (max-width: 1054px) {
                        padding: 12px;
                        border-radius: var(--radius-20);
                    }
                    &__top {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    &__label {
                        font-weight: 400;
                        font-size: 21px;
                        line-height: 100%;
                        padding: 12px 14px;
                        border-radius: var(--radius-100);
                        background-color: var(--color-white);
                        @media (max-width: 1920px) {
                            font-size: calc(21 / var(--vw) * var(--multiplier));
                            padding: calc(12 / var(--vw) * var(--multiplier)) calc(14 / var(--vw) * var(--multiplier));
                        }
                        @media (max-width: 1054px) {
                            font-size: 12px;
                            line-height: 100%;
                            padding: 8px 10px;
                        }
                    }
                    &__logo {
                        width: 70px;
                        @media (max-width: 1920px) {
                            width: calc(70 / var(--vw) * var(--multiplier));
                        }
                        @media (max-width: 1054px) {
                            width: 40px;
                        }
                    }
                    &__list {
                        margin-top: auto;
                        display: grid;
                        gap: 10px;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: 107px 107px;
                        @media (max-width: 1920px) {
                            gap: calc(10 / var(--vw) * var(--multiplier));
                            font-size: calc(21 / var(--vw) * var(--multiplier));
                            grid-template-rows: calc(107 / var(--vw) * var(--multiplier)) calc(
                                    107 / var(--vw) * var(--multiplier)
                                );
                        }
                        @media (max-width: 1054px) {
                            grid-template-rows: 70px 70px;
                        }
                        @media (max-width: 767px) {
                            grid-template-columns: repeat(1, 1fr);
                        }
                    }
                    &__item {
                        position: relative;
                        display: flex;
                        align-items: center;
                        padding: 16px 20px;
                        column-gap: 10px;
                        border-radius: var(--radius-30);
                        background-color: var(--color-white);
                        @media (max-width: 1920px) {
                            column-gap: calc(10 / var(--vw) * var(--multiplier));
                            padding: calc(16 / var(--vw) * var(--multiplier)) calc(20 / var(--vw) * var(--multiplier));
                            border-radius: calc(30 / var(--vw) * var(--multiplier));
                        }
                        @media (max-width: 1054px) {
                            column-gap: 8px;
                            padding: 16px 12px;
                        }
                        & img {
                            aspect-ratio: 1/1;
                            height: 100%;
                            max-height: 90px;
                            width: auto;
                            object-fit: contain;
                            @media (max-width: 1054px) {
                                max-height: 30px;
                            }
                        }
                        &-arrow {
                            margin-top: auto;
                            margin-left: auto;
                            @media (max-width: 1920px) {
                                width: calc(17 / var(--vw) * var(--multiplier));
                                height: calc(17 / var(--vw) * var(--multiplier));
                                min-width: calc(17 / var(--vw) * var(--multiplier));
                                min-height: calc(17 / var(--vw) * var(--multiplier));
                            }
                            @media (max-width: 1054px) {
                                width: 8px;
                                height: 8px;
                                min-width: 8px;
                                min-height: 8px;
                            }
                        }
                        &-title {
                            font-weight: 400;
                            font-size: 21px;
                            line-height: 100%;
                            color: var(--color-black);
                            @media (max-width: 1920px) {
                                font-size: calc(21 / var(--vw) * var(--multiplier));
                            }
                            @media (max-width: 1054px) {
                                font-size: 12px;
                            }
                        }
                        &-price {
                            font-weight: 700;
                            font-size: 25px;
                            line-height: 100%;
                            margin-top: 10px;
                            color: var(--color-black);
                            @media (max-width: 1920px) {
                                font-size: calc(25 / var(--vw) * var(--multiplier));
                                margin-top: calc(10 / var(--vw) * var(--multiplier));
                            }
                            @media (max-width: 1054px) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            &--social {
                grid-area: social;
                & .social-card {
                    height: 100%;
                    padding: 30px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    overflow: hidden;
                    border-radius: var(--radius-30);

                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url(../images/bg-social.png);
                    @media (max-width: 1920px) {
                        border-radius: calc(30 / var(--vw) * var(--multiplier));
                        padding: calc(30 / var(--vw) * var(--multiplier));
                    }
                    @media (max-width: 1054px) {
                        padding: 12px;
                        border-radius: var(--radius-20);
                    }
                    &__top {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    &__logo {
                        width: 70px;
                        @media (max-width: 1920px) {
                            width: calc(70 / var(--vw) * var(--multiplier));
                        }
                        @media (max-width: 1054px) {
                            width: 40px;
                        }
                    }
                    &__label {
                        font-weight: 400;
                        font-size: 21px;
                        line-height: 100%;
                        padding: 12px 14px;
                        border-radius: var(--radius-100);
                        background-color: var(--color-white);
                        @media (max-width: 1920px) {
                            font-size: calc(21 / var(--vw) * var(--multiplier));
                            padding: calc(12 / var(--vw) * var(--multiplier)) calc(14 / var(--vw) * var(--multiplier));
                        }
                        @media (max-width: 1054px) {
                            font-size: 12px;
                            line-height: 100%;
                            padding: 8px 10px;
                        }
                    }
                    &__bottom {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        column-gap: 10px;
                    }
                    &__icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 50px;
                        height: 50px;
                        padding: 15px 11px;
                        border-radius: 50%;
                        background-color: var(--color-white);
                        @media (max-width: 1920px) {
                            width: calc(50 / var(--vw) * var(--multiplier));
                            height: calc(50 / var(--vw) * var(--multiplier));
                            padding: calc(15 / var(--vw) * var(--multiplier)) calc(11 / var(--vw) * var(--multiplier));
                        }
                        @media (max-width: 1054px) {
                            width: 24px;
                            height: 24px;
                            padding: 5px;
                        }
                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                        &.arrow {
                            @media (max-width: 1920px) {
                                width: calc(17 / var(--vw) * var(--multiplier));
                                height: calc(17 / var(--vw) * var(--multiplier));
                                min-width: calc(17 / var(--vw) * var(--multiplier));
                                min-height: calc(17 / var(--vw) * var(--multiplier));
                            }
                            @media (max-width: 1054px) {
                                width: 14px;
                                height: 14px;
                                min-width: 14px;
                                min-height: 14px;
                            }
                        }
                    }
                    &__email {
                        font-weight: 400;
                        font-size: 21px;
                        line-height: 100%;
                        padding: 12px 14px;
                        margin-left: auto;

                        color: var(--color-main);

                        border-radius: var(--radius-100);
                        background-color: var(--color-white);

                        @media (max-width: 1920px) {
                            font-size: calc(21 / var(--vw) * var(--multiplier));
                            padding: calc(12 / var(--vw) * var(--multiplier)) calc(14 / var(--vw) * var(--multiplier));
                        }
                        @media (max-width: 1054px) {
                            font-size: 12px;
                            padding: 6px 10px;
                        }
                    }
                }
            }
            &--articles {
                grid-area: articles;
                & .articles-card {
                    height: 100%;
                    padding: 30px;
                    overflow: hidden;
                    border-radius: var(--radius-30);
                    background-color: var(--color-white);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    @media (max-width: 1920px) {
                        border-radius: calc(30 / var(--vw) * var(--multiplier));
                        padding: calc(30 / var(--vw) * var(--multiplier));
                    }
                    @media (max-width: 1054px) {
                        padding: 12px;
                        border-radius: var(--radius-20);
                    }
                    &__top {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    &__label {
                        font-weight: 400;
                        font-size: 21px;
                        line-height: 100%;
                        padding: 12px 14px;
                        border-radius: var(--radius-100);
                        background-color: var(--color-additional);

                        @media (max-width: 1920px) {
                            font-size: calc(21 / var(--vw) * var(--multiplier));
                            padding: calc(12 / var(--vw) * var(--multiplier)) calc(14 / var(--vw) * var(--multiplier));
                        }
                        @media (max-width: 1054px) {
                            font-size: 12px;
                            line-height: 100%;
                            padding: 8px 10px;
                        }
                    }
                    &__icon {
                        width: 44px;
                        height: 44px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: var(--radius-100);
                        background-color: var(--color-additional);
                        @media (max-width: 1920px) {
                            width: calc(44 / var(--vw) * var(--multiplier));
                            height: calc(44 / var(--vw) * var(--multiplier));
                        }
                        @media (max-width: 1054px) {
                            width: 24px;
                            height: 24px;
                            padding: 5px;
                        }
                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    &__bottom {
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        column-gap: 10px;
                        @media (max-width: 1920px) {
                            column-gap: calc(10 / var(--vw) * var(--multiplier));
                        }
                    }
                    &__link {
                        display: inline-flex;
                        column-gap: 10px;
                        font-weight: 400;
                        font-size: 21px;
                        line-height: 100%;
                        color: var(--color-black);
                        @media (max-width: 1920px) {
                            column-gap: calc(10 / var(--vw) * var(--multiplier));
                            font-size: calc(21 / var(--vw) * var(--multiplier));
                        }
                        @media (max-width: 1054px) {
                            column-gap: 5px;
                            font-size: 18px;
                        }
                        &-icon {
                            margin-top: 2px;
                        }
                        & .arrow {
                            @media (max-width: 1920px) {
                                width: calc(17 / var(--vw) * var(--multiplier));
                                height: calc(17 / var(--vw) * var(--multiplier));
                                min-width: calc(17 / var(--vw) * var(--multiplier));
                                min-height: calc(17 / var(--vw) * var(--multiplier));
                            }
                            @media (max-width: 1054px) {
                                width: 12px;
                                height: 12px;
                                min-width: 12px;
                                min-height: 12px;
                            }
                        }
                    }
                    &__image-wrap {
                        margin-bottom: -10%;
                        margin-right: -10%;
                    }
                }
            }
            &--universal {
                position: relative;
                width: 100%;
                height: 100%;
                & .universal-card {
                    width: 100%;
                    height: 100%;

                    --r: 30px;
                    --s: 30px;
                    --x: 13px;
                    --y: 13px;

                    overflow: hidden;
                    aspect-ratio: 1;
                    border-radius: var(--r);
                    --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000 72%);
                    --_g: conic-gradient(from 90deg at calc(100% - var(--r)) calc(100% - var(--r)), #0000 25%, #000 0);
                    --_d: (var(--s) + var(--r));
                    mask:
                        calc(100% - var(--_d) - var(--x)) 100% var(--_m),
                        100% calc(100% - var(--_d) - var(--y)) var(--_m),
                        radial-gradient(var(--s) at 100% 100%, #0000 99%, #000 calc(100% + 1px))
                            calc(-1 * var(--r) - var(--x)) calc(-1 * var(--r) - var(--y)),
                        var(--_g) calc(-1 * var(--_d) - var(--x)) 0,
                        var(--_g) 0 calc(-1 * var(--_d) - var(--y));
                    mask-repeat: no-repeat;
                    @media (max-width: 1920px) {
                        --r: calc(30 / var(--vw) * var(--multiplier));
                        --s: calc(30 / var(--vw) * var(--multiplier));
                        --x: calc(5 / var(--vw) * var(--multiplier));
                        --y: calc(5 / var(--vw) * var(--multiplier));
                    }
                    @media (max-width: 1054px) {
                        --r: 15px;
                        --s: 11px;
                        --x: 5px;
                        --y: 5px;
                        padding: 12px;
                        border-radius: var(--radius-20);
                    }

                    &-content {
                        position: absolute;
                        inset: 0;

                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        width: 100%;
                        height: 100%;

                        background-size: cover;
                        background-repeat: no-repeat;
                        background-image: url(../images/bg-card.png);
                    }
                    &__image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &__title {
                        padding: 30px 30px 0px;

                        font-weight: 400;
                        font-size: 31px;
                        line-height: 100%;
                        color: var(--color-white);

                        @media (max-width: 1920px) {
                            font-size: calc(31 / var(--vw) * var(--multiplier));
                            padding: calc(30 / var(--vw) * var(--multiplier)) calc(30 / var(--vw) * var(--multiplier))
                                0px calc(30 / var(--vw) * var(--multiplier));
                        }
                        @media (max-width: 1054px) {
                            font-size: 20px;
                            padding: 12px 12px 0px;
                        }
                    }
                }
                & .btn-arrow {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: 1;
                    @media (max-width: 1054px) {
                        width: 24px;
                        height: 24px;
                        background-size: 8px;
                        border-radius: 6px;
                    }
                }
            }
        }
        &__text {
            position: absolute;
            bottom: -12.5%;
            right: 0;
            width: 620px;
            background: #e9edf3;
            padding: 40px 50px;
            border-radius: 0 0 30px 30px;
            font-weight: 400;
            font-size: 26px;
            line-height: 100%;
            @media (max-width: 1920px) {
                width: calc(620 / var(--vw) * var(--multiplier));
                font-size: calc(26 / var(--vw) * var(--multiplier));
                padding: calc(40 / var(--vw) * var(--multiplier)) calc(50 / var(--vw) * var(--multiplier));
                border-radius: 0 0 calc(30 / var(--vw) * var(--multiplier)) calc(30 / var(--vw) * var(--multiplier));
            }
            @media (max-width: 1024px) {
                display: none;
            }
            &::before {
                content: "";
                position: absolute;
                top: -12px;
                left: -57px;
                width: 120px;
                height: 60px;
                --r: -3px;
                --s: 38px;
                --x: 22px;
                --y: 10px;
                z-index: -1;
                aspect-ratio: 1;
                background: var(--color-additional);
                border-radius: var(--r);
                --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000 72%);
                --_g: conic-gradient(from 180deg at var(--r) calc(100% - var(--r)), #0000 25%, #000 0);
                --_d: (var(--s) + var(--r));
                mask:
                    calc(var(--_d) + var(--x)) 100% var(--_m),
                    0 calc(100% - var(--_d) - var(--y)) var(--_m),
                    radial-gradient(var(--s) at 0 100%, #0000 99%, #000 calc(100% + 1px)) calc(var(--r) + var(--x))
                        calc(-1 * var(--r) - var(--y)),
                    var(--_g) calc(var(--_d) + var(--x)) 0,
                    var(--_g) 0 calc(-1 * var(--_d) - var(--y));
                mask-repeat: no-repeat;
                @media (max-width: 1920px) {
                    // --r: calc(-3 / var(--vw) * var(--multiplier));
                    // --s: calc(38 / var(--vw) * var(--multiplier));
                    // --x: calc(22 / var(--vw) * var(--multiplier));
                    // --y: calc(10 / var(--vw) * var(--multiplier));
                }
            }
        }
    }
}
.burger {
    display: none;
    flex-direction: column;
    row-gap: 4px;
    cursor: pointer;
    transition: all 0.3s;
    @media (max-width: 1024px) {
        display: flex;
    }
    & span {
        width: 60%;
        height: 2px;
        background-color: var(--color-white);
        display: block;
        transition: 0.3s ease;
        transform-origin: center;
    }
    &.active {
        & span:nth-child(1) {
            transform: translateY(3.5px) rotate(47deg);
        }
        & span:nth-child(2) {
            transform: translateY(-3px) rotate(-47deg);
        }
    }
}
.arrow {
    display: block;
    width: 17px;
    height: 17px;
    min-width: 17px;
    min-height: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.56758 1.05523e-06L15.8568 0C16.4882 6.59524e-07 17 0.511848 17 1.14324L17 11.4324C17 12.0638 16.4882 12.5757 15.8568 12.5757C15.2254 12.5757 14.7135 12.0638 14.7135 11.4324V3.90327L1.61679 17L0 15.3832L13.0967 2.28648H5.56758C4.93619 2.28648 4.42434 1.77464 4.42434 1.14324C4.42434 0.511847 4.93619 1.05523e-06 5.56758 1.05523e-06Z' fill='rgba(39, 43, 55, 1)'/%3e%3c/svg%3e ");
}
.btn-arrow {
    width: 54px;
    height: 54px;

    border-radius: var(--radius-20);
    background-color: var(--color-main);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.56758 1.05523e-06L15.8568 0C16.4882 6.59524e-07 17 0.511848 17 1.14324L17 11.4324C17 12.0638 16.4882 12.5757 15.8568 12.5757C15.2254 12.5757 14.7135 12.0638 14.7135 11.4324V3.90327L1.61679 17L0 15.3832L13.0967 2.28648H5.56758C4.93619 2.28648 4.42434 1.77464 4.42434 1.14324C4.42434 0.511847 4.93619 1.05523e-06 5.56758 1.05523e-06Z' fill='white'/%3e%3c/svg%3e ");

    @media (max-width: 1920px) {
        width: calc(54 / var(--vw) * var(--multiplier));
        height: calc(54 / var(--vw) * var(--multiplier));
        background-size: calc(17 / var(--vw) * var(--multiplier));
        border-radius: calc(20 / var(--vw) * var(--multiplier));
    }
}
